<li class="list-inline-item border border-success rounded jumbotron jumbotron-fluid m-1 p-1"  style="height:120px; width:400px;" >
<div class="row">
        <div class="col-12">
            <h1 class='badge badge-secondary display-4'>{{maquina.codigo}}</h1>
        </div>
        <div class="col-12">
            <p>{{maquina.descripcion}}</p>
        </div>
        <div class="col-md-4">
            <p>{{maquina.marca}}</p>
        </div>
        <div class="col-md-4">
            <p>{{maquina.modelo}}</p>
        </div>
        <div class="col-md-4">
            <p>{{maquina.horometro}}</p>
        </div>
    </div>
</li>