<div class="container	content">
    <div class="row">
        <div class="col-md-12">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0 ">Maquina</h3>
                    <p class="lead">Digite la informacion de las maquinas disponibles para producir</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="codigo">Codigo</label>
                            <input type="text" class="form-control" id="codigo"
                                placeholder="ingrese codigo de la maquina" #c>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Descripcion</label>
                            <input type="text" class="form-control" id="descripcion"
                                placeholder="descripcion del equipo" #d>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="marca">Marca</label>
                                    <input type="text" class="form-control" id="marca" placeholder="marca..." #mr>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="modelo">Modelo</label>
                                    <input type="text" class="form-control" id="modelo" placeholder="imodelo..." #md>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="horometro">Horometro</label>

                                    <input type="number" class="form-control" id="horometro" placeholder="Horometro..."
                                        #hr>
                                </div>
                            </div>


                        </div>

                        <button type="submit" class="btn btn-success"
                            (click)="guardar(c.value,d.value, mr.value, md.value, hr.value)">Guardar!</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">

    <div class="row">
        <ul class="list-inline">
            <app-maquinas *ngFor="let m of maquinas" [maquina]="m"></app-maquinas>
        </ul>
    </div>

</div>